*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}
.btn(@color){
    .size(170px; 50px);
    .text(18px, 50px);
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: @color;
    border: 2px solid;
    border-radius: 2px;
}